https://sdr.systems {
        reverse_proxy 162.19.245.229:8888
        tls {
                dns cloudflare TMc1JHjBcglJBWuYu-JYRTKOv-VSYQyjnseSysLp
        }
}
https://lora.sdr.systems {
        reverse_proxy 162.19.245.229:8080
        tls {
                dns cloudflare TMc1JHjBcglJBWuYu-JYRTKOv-VSYQyjnseSysLp
	}
}
